@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --color-primary: #1b0760;
  --color-body: #b2afbf;
  --color-accent: #ff3400;
  --color-card: #00d9ff;
  --color-popularCard: #2584ff;
  --border-radius: 30px;
  --border-radius-cards: 10px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  color: var(--color-body);
  padding: 0rem;
  background-color: #fcfbf9;
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  color: var(--color-primary);
  font-weight: bold;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  font-weight: 400;
  font-size: 2.2rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.8rem;
  }
}
/* button */
.btn {
  border-radius: var(--border-radius);
  padding: 1.5rem 2rem;
  border: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.btn--orange {
  background-color: var(--color-accent);
  color: white;
}
.btn--transparent {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn--blue {
  background-color: var(--color-primary);
  color: white;
}
.btn--block {
  width: 100%;
}
.btn--lightBlue {
  background-color: var(--color-card);
  color: white;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
  }
}
/* link */
a {
  text-decoration: none;
}
.link--tick {
  color: var(--color-accent);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
.link--tick::after {
  content: "->";
}
@media screen and (min-width: 768px) {
  .link--tick {
    font-size: 2rem;
  }
}
/* icon */
.icon {
  width: 7rem;
  height: auto;
}
.icon--blue {
  fill: var(--color-popularCard);
}
.icon--white {
  width: 5rem;
  fill: white;
}

.icon-wrapper {
  background-color: #f3f9fa;
  display: inline-block;
  border-radius: 50%;
  padding: 0.8rem;
}
/* 10%off component or badges */
.badges {
  color: white;
  border-radius: var(--border-radius);
  font-weight: 600;
  padding: 0.5rem 1.5rem;
}
.badges--primary {
  background-color: var(--color-card);
  font-size: 2rem;
}
.badges--small {
  font-size: 1.6rem;
  padding-inline: 1rem;
  margin-left: 1rem;
}
.badge--small--lightenBlue {
  background-color: #08c6e7;
}
.badge--small--darkenBlue {
  background-color: #4595ff;
}
@media screen and (min-width: 768px) {
  .badges--primary {
    font-size: 1.5rem;
  }
  .badges--small {
    font-size: 1.2rem;
  }
}
/* lists */
ul {
  list-style: none;
  padding-left: 0;
}
.list--inline li {
  display: inline;
  margin-inline: 1rem;
  font-size: 2rem;
}
.list--block li {
  margin-block: 1.5rem;
  font-size: 2.4rem;
}
.card .list--block li::before {
  content: " \221A";
  color: #2dd5a7;
  font-size: 2.5rem;
  margin-right: 5px;
}
.list--blue li {
  color: #1b0760;
  font-weight: 600;
}
.list--footer {
  color: #aaa;
}

@media screen and (min-width: 768px) {
  .list--block li {
    font-size: 2rem;
  }
  .list--inline li {
    font-size: 1.6rem;
  }
  .list--block li::before {
    font-size: 2rem;
  }
}
/* search input */
.icon--search {
  width: 1.8rem;
  position: relative;
  top: 0.4rem;
}
.search {
  border-radius: var(--border-radius);
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 20px;
}
.input__search {
  border: 0;
  outline: 0;
  font-size: 2rem;
}

.search__text {
  font-size: 1.4rem;
  position: relative;
  bottom: 2px;
}
@media screen and (min-width: 768px) {
  .search {
    justify-content: space-around;
  }
}
.card {
  margin: 2rem;
  border: 1px solid black;
  width: 370px;
  overflow: hidden;
  border-radius: var(--border-radius-cards);
}
.card p {
  margin-block: 0;
}
.card__header,
.card__body,
.card__footer {
  padding: 2rem;
}

.card__header {
  background-color: var(--color-card);
  color: white;
}

.price__title {
  display: inline-flex;
  margin-block: 1rem;
  color: white;
}
.header-title {
  font-weight: bold;
}
.card__desc {
  font-size: 2rem;
}
.card--popular .card__header {
  background-color: var(--color-popularCard);
}
/* grid */
@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    column-gap: 2rem;
  }
  .grid--cols2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--cols3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid--cols5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
/* testimonial */
.testimonial {
  background-color: white;
  margin-top: 1rem;
  padding: 3rem;
  position: relative;
}
.img__testimonial {
  width: 100%;
  object-fit: cover;
}
.quoet__auhtor {
  margin-bottom: 1rem;
}
.author-post {
  font-size: 1.8rem;
}
.icon--qoutes {
  background-color: var(--color-accent);
  position: absolute;
  top: 5rem;
  fill: white;
  right: 0;
  width: 6rem;
}
@media screen and (min-width: 768px) {
  .img__testimonial {
  }
  .quoet__content {
    font-size: 2.5rem;
  }
  .icon--qoutes {
    left: 35rem;
  }
}
/* callout */
.callout {
  background-color: var(--color-popularCard);
  text-align: center;
  padding: 3rem 2rem;
  border-radius: var(--border-radius-cards);
}
.callout__heading,
.callout__text {
  color: white;
}
.callout__heading {
  margin-bottom: 0;
}
.callout__text {
  margin-top: 1.3rem;
}
.btn--callout {
  padding: 2rem 4rem;
}
.collout__btn {
  align-self: center;
}
@media screen and (min-width: 768px) {
  .callout {
    grid-template-columns: 1fr auto;
  }
  .callout__content {
    text-align: left;
  }
}
/* featurs-body */
.features {
  padding-left: 1rem;
  margin-top: 5rem;
}
.featurs__img {
  width: 100%;
  margin-top: 3rem;
}
.features .content__heading {
  margin: 1rem 0 0 0;
}
.features .content__text {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .features__content {
    margin-top: 4rem;
  }

  .features .content__text {
    line-height: 1.5;
  }
}
/* description (include search component) */
.desc {
  text-align: center;
}
.desc__heading {
  margin-bottom: 0;
}
.desc__list {
  margin-top: 3rem;
}

.list-row1 {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .btn__desc {
    padding-inline: 4rem;
  }
  .desc__list ul {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .desc__list {
    margin-left: 7rem;
  }
}
/* showcase */
.showcase {
  background-color: black;
  padding: 4rem 2rem;
  margin: 0;
}
/* this is alone  */
.content {
  text-align: center;
}

.showcase__features {
  display: flex;
}
.showcase__title {
  color: white;
  text-align: center;
}
.icon__showcase {
  width: 4rem;
  margin-right: 1.5rem;
  margin-top: 3rem;
}

.showcase__heading {
  color: white;
  margin-bottom: 0;
}
.showcase__text {
  margin-top: 1rem;
}
.showcase__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .showcase {
    padding-inline: 0;
  }
}
/* collapsible*/
.collapsible {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.collapsible__content {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}

.icon--chevron {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}
.collapsible--expanded .icon--chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
}
@media screen and (min-width: 768px) {
  .icon--collapsible {
    display: none;
  }
  .collapsible__content {
    max-height: 100vh;
  }
}
/* navigation menu */
.nav {
  background-color: black;
  padding-left: 2rem;
}
.hero {
  text-align: center;
}
.hero__heading {
  color: white;
  font-size: 6rem;
}
.hero__img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .nav {
    flex-wrap: nowrap;
  }
  .list__nav li {
    display: inline;
    margin-inline: 1rem;
  }
  .hero__content {
    align-self: center;
    text-align: left;
  }
}
/* footer */
.footer {
  background-color: #232323;
  padding: 7rem 4rem 3rem;
}
.footer h2 {
  color: white;
  font-weight: 600;
  margin: 0;
  font-size: 3rem;
  text-transform: uppercase;
}
.footer__logo {
  text-align: center;
}
.footer__content {
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.418);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__content {
    border: 0;
  }
  .footer h2 {
    font-size: 2rem;
  }
  .footer__logo {
    grid-column: 1;
    grid-row: 1;
  }
  /*in the end we gonne addd a padding inline general to all the genral component footer and body and nav  */
}
