@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
  --color-primary: #1b0760;
  --color-body: #b2afbf;
  --color-accent: #ff3400;
  --color-card: #00d9ff;
  --color-popularCard: #2584ff;
  --border-radius: 30px;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  color: var(--color-body);
  padding: 1rem;
  background-color: #fcfbf9;
}
h1,
h2,
h3,
h4 {
  color: var(--color-primary);
  font-weight: bold;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  font-weight: 400;
  font-size: 2.4rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.8rem;
  }
}
/* button */
.btn {
  border-radius: var(--border-radius);
  padding: 1.5rem 2rem;
  border: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.btn--orange {
  background-color: var(--color-accent);
  color: white;
}
.btn--transparent {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
.btn--blue {
  background-color: var(--color-primary);
  color: white;
}
.btn--block {
  width: 100%;
}
.btn--lightBlue {
  background-color: var(--color-card);
  color: white;
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.5rem;
  }
}
/* link */
a {
  text-decoration: none;
}
.link--tick {
  color: var(--color-accent);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
.link--tick::after {
  content: "->";
}
@media screen and (min-width: 768px) {
  .link--tick {
    font-size: 1.5rem;
  }
}
/* icon */
.icon {
  width: 5rem;
  height: auto;
}
.icon--blue {
  fill: var(--color-popularCard);
}

.icon-wrapper {
  background-color: #f3f9fa;
  display: inline-flex;
  padding: 1.5rem;
  border-radius: 50%;
}
/* 10%off component or badges */
.badges {
  color: white;
  border-radius: var(--border-radius);
  font-weight: 600;
  padding: 0.5rem 1.5rem;
}
.badges--primary {
  background-color: var(--color-card);
  font-size: 2rem;
}
.badges--small {
  font-size: 1.6rem;
  padding-inline: 1rem;
  margin-left: 1rem;
}
.badge--small--lightenBlue {
  background-color: #08c6e7;
}
.badge--small--darkenBlue {
  background-color: #4595ff;
}
@media screen and (min-width: 768px) {
  .badges--primary {
    font-size: 1.5rem;
  }
  .badges--small {
    font-size: 1.2rem;
  }
}
/* lists */
ul {
  list-style: none;
  padding-left: 0;
}
.list--inline li {
  display: inline;
  margin-inline: 1rem;
  font-size: 2rem;
}
.list--block li {
  margin-block: 1.5rem;
  font-size: 2.4rem;
}
.list--block li::before {
  content: " \221A";
  color: #2dd5a7;
  font-size: 2.5rem;
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .list--block li {
    font-size: 1.8rem;
  }
  .list--inline li {
    font-size: 1.6rem;
  }
  .list--block li::before {
    font-size: 2rem;
  }
}
/* search input */
.icon--search {
  width: 1.8rem;
  position: relative;
  top: 0.4rem;
}
.search {
  border-radius: var(--border-radius);
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding-left: 20px;
}
.input__search {
  border: 0;
  outline: 0;
  font-size: 2rem;
}
.search__text {
  font-size: 1.4rem;
  position: relative;
  bottom: 2px;
}
.card {
  margin: 2rem;
  border: 1px solid black;
  width: 370px;
  border-radius: 10px;
  overflow: hidden;
}
.card p {
  margin-block: 0;
}
.card__header,
.card__body,
.card__footer {
  padding: 2rem;
}

.card__header {
  background-color: var(--color-card);
  color: white;
}

.price__title {
  display: inline-flex;
  margin-block: 1rem;
  color: white;
}
.header-title {
  font-weight: bold;
}
.card__desc {
  font-size: 2rem;
}
.card--popular .card__header {
  background-color: var(--color-popularCard);
}
/* grid */
@media screen and (min-width: 768px) {
  .grid {
    display: grid;
    column-gap: 2rem;
  }
  .grid--cols2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid--cols3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/* testimonial */
.testimonial {
  background-color: white;
  margin-top: 1rem;
  padding: 3rem;
  position: relative;
}
.img__testimonial {
  width: 100%;
  object-fit: cover;
}
.quoet__auhtor {
  margin-bottom: 1rem;
}
.author-post {
  font-size: 1.8rem;
}
.icon--qoutes {
  background-color: var(--color-accent);
  position: absolute;
  top: 5rem;
  fill: white;
  right: 0;
  width: 6rem;
}
@media screen and (min-width: 768px) {
  .img__testimonial {
  }
  .quoet__content {
    font-size: 2.5rem;
  }
  .icon--qoutes {
    left: 35rem;
  }
}
