<div class="callout grid grid--cols2">
    <div class="callout__content">
        <h2 class="callout__heading">Ready to Get Started?</h2>
        <p class="callout__text">Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dicta. ipsum dolor sit amet consectetur adipisicing elit. Repellat praesentium perferendis eaque culpa voluptate omnis!</p>
    </div>
     <div class="collout__btn">
         <button class="btn btn--lightBlue btn--callout"> get started</button>
     </div>
</div>