<div class="grid grid--cols2">
    <div class="card">
       <div class="card__header">
           <p class="header-title">Entry</p>
           <div class="card__header-price">
               <h3 class="price__title">$14 </h3>
               <span>/month</span>
               <span class="price__offer badges badges--small badge--small--lightenBlue">10% Off</span>
               <p class="card__desc">Easy start on the cloud</p>
           </div>
       </div>
       <div class="card__body">
           <ul class="list--block">
               <li>item1</li>
               <li>item2</li>
               <li>item3</li>
               <li>item4</li>
           </ul>
       </div>
       <div class="card__footer">
           <button class="btn btn--transparent btn--block"> buy now</button>
       </div>
    </div>
    <div class="card card--popular">
       <div class="card__header">
           <p class="header-title">Entry</p>
           <div class="card__header-price">
               <h3 class="price__title">$14 </h3>
               <span>/month</span>
               <span class="price__offer badges badges--small badge--small--darkenBlue">20% Off</span>
               <p class="card__desc">Easy start on the cloud</p>
           </div>
       </div>
       <div class="card__body">
           <ul class="list--block">
               <li>item1</li>
               <li>item2</li>
               <li>item3</li>
               <li>item4</li>
           </ul>
       </div>
       <div class="card__footer">
           <button class="btn btn--blue btn--block"> buy now</button>
       </div>
    </div>
    <div class="card">
       <div class="card__header">
           <p class="header-title">Entry</p>
           <div class="card__header-price">
               <h3 class="price__title">$14 </h3>
               <span>/month</span>
               <span class="price__offer badges badges--small badge--small--lightenBlue">10% Off</span>
               <p class="card__desc">Easy start on the cloud</p>
           </div>
       </div>
       <div class="card__body">
           <ul class="list--block">
               <li>item1</li>
               <li>item2</li>
               <li>item3</li>
               <li>item4</li>
           </ul>
       </div>
       <div class="card__footer">
           <button class="btn btn--transparent btn--block"> buy now</button>
       </div>
    </div>