<div class="desc">
    <h2 class="desc__heading">
        The best webhosting Starting at per month
    </h2>
    <p class="desc__text">Lorem ipsum dolor Lorem ipsum dolor sit amet consectetur, adipisicing  Autem, ipsum. sit amet consectetur adipisicing elit. Iste obcaecati temporibus possimus cupiditate eaque soluta.</p>
    <div class="desc__footer">
        <div class="desc__input">
                <div class="search">
                    <input type="text"  class="input__search" placeholder="Enter domaine name here">
                    <button class="btn btn--orange btn__desc">
                        <svg class="icon icon--search" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21.8 23.8"><defs><style>.cls-1{fill:#ecf6fc;}</style></defs><path class="cls-1" d="M11,17.9a8.7,8.7,0,0,0,.8,4.8,1,1,0,0,0,1.2.4.8.8,0,0,0,.4-1.2,8.3,8.3,0,0,1-.7-3.8,7.6,7.6,0,0,1,15.2,1.1A7.7,7.7,0,0,1,16.1,25a.8.8,0,0,0-1.2.2.9.9,0,0,0,.2,1.3A10,10,0,0,0,19.6,28a9.3,9.3,0,0,0,6.1-1.7l5.5,6.4a.9.9,0,0,0,.6.3.7.7,0,0,0,.7-.2.9.9,0,0,0,.1-1.2L27,25.2a8.9,8.9,0,0,0,2.6-5.8A9.3,9.3,0,1,0,11,17.9Z" transform="translate(-10.9 -9.3)"/></svg>
                        <span class="search__text ">search</span>
                    </button>
                </div>
        
        </div>
        <div class="desc__list">
            <ul class="list--inline list--blue">
                <div class="list-row1">
                    <li>.com $9.26</li>
                    <li><span class="badges badges--primary">.sg $7.91</span>
                    </li>
                    <li>.space $12.98</li>
                </div>
                <div class="list-row2">
                    <li>.info $14.15</li>
                    <li>.net $16.15</li>
                    <li>.xyz $10.15</li>
                    <li class="items--hidden">.more</li>
                    </div>
            </ul>
        </div>
    </div>
</div>