<footer class="footer grid grid--cols5">

    
    <div class="collapsible">
 
      <h2 class="collapsible__heading">PRODUCTS</h2>
      <svg class="icon icon--white icon--chevron icon--collapsible" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><defs><style>.cls-1{fill:#393939;}.cls-2{fill:#fff;}</style></defs><circle class="cls-1" cx="25.5" cy="25.5" r="25.5"/><rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8" transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"/><rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8" transform="translate(24 -21.9) rotate(37.3)"/></svg>
    <div class="collapsible__content footer__content">
     <ul class="list--footer list--block">
       <li>Website Hosting</li>
       <li>Free Automated Wordpress</li>
       <li>Migration</li>
     </ul>
    </div>
  </div>
    <div class="collapsible">
 
      <h2 class="collapsible__heading">COMPANY</h2>
      <svg class="icon icon--white icon--chevron icon--collapsible" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><defs><style>.cls-1{fill:#393939;}.cls-2{fill:#fff;}</style></defs><circle class="cls-1" cx="25.5" cy="25.5" r="25.5"/><rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8" transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"/><rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8" transform="translate(24 -21.9) rotate(37.3)"/></svg>
    <div class="collapsible__content footer__content">
     <ul class="list--footer list--block">
       <li>About</li>
       <li>Affiliates</li>
       <li>Blog</li>
     </ul>
    </div>
  </div>
    <div class="collapsible">
 
      <h2 class="collapsible__heading">Support</h2>
      <svg class="icon icon--white icon--chevron icon--collapsible" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><defs><style>.cls-1{fill:#393939;}.cls-2{fill:#fff;}</style></defs><circle class="cls-1" cx="25.5" cy="25.5" r="25.5"/><rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8" transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"/><rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8" transform="translate(24 -21.9) rotate(37.3)"/></svg>
    <div class="collapsible__content footer__content">
     <ul class="list--footer list--block">
       <li>Contact</li>
       <li>Knwoledge Base</li>
       <li>FaQ</li>
     </ul>
    </div>
  </div>
    <div class="collapsible">
 
      <h2 class="collapsible__heading">Domains</h2>
      <svg class="icon icon--white icon--chevron icon--collapsible" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><defs><style>.cls-1{fill:#393939;}.cls-2{fill:#fff;}</style></defs><circle class="cls-1" cx="25.5" cy="25.5" r="25.5"/><rect class="cls-2" x="24.4" y="27.9" width="1.6" height="15.24" rx="0.8" transform="matrix(0.78, -0.63, 0.63, 0.78, -21.26, 15.39)"/><rect class="cls-2" x="33.3" y="27.9" width="1.6" height="15.24" rx="0.8" transform="translate(24 -21.9) rotate(37.3)"/></svg>
    <div class="collapsible__content">
     <ul class="list--footer list--block">
       <li>Domain Checker</li>
       <li>Domain Transfer</li>
       <li>Free Domain</li>
     </ul>
    </div>
  </div>
  <div class="footer__logo">
    <img src="images/logo.png" alt="" class="footer__img">
    <p>Copyright &copy; 2020 mosh</p>
  </div>
</footer>