<nav class="nav">
    <div class="nav collapsible">
      <img src="images/logo.png" alt="" class="nav__logo">
      <svg class="nav__toggler icon--collapsible icon icon--white" id="light" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m21.5 24h-19c-1.379 0-2.5-1.122-2.5-2.5v-19c0-1.378 1.121-2.5 2.5-2.5h19c1.379 0 2.5 1.122 2.5 2.5v19c0 1.378-1.121 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z"/></g><g><path d="m16.5 8h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z"/></g><g><path d="m16.5 12.5h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z"/></g><g><path d="m16.5 17h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z"/></g></svg>
      <div class="collapsible__content">
        <ul class="list--block list__nav list--collapsible">
          <li>items1</li>
          <li>items2</li>
          <li>items3</li>
          <li>items4</li>
        </ul>
      </div>
    </div>
    <div class="hero grid grid--cols2">
      <div class="hero__content">
        <h1 class="hero__heading">Cloud Hosting for Pros</h1>
        <p class="hero__text">Deploy your websites in less than 60 seconds.</p>
        <div class="hero__btn">
          <button class="btn btn--orange">get started</button>
        </div>
      </div>
      <img src="images/banner.png" alt="" class="hero__img">
    </div>
 </nav>